@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background-color:rgba(4, 42, 42, 0.854);
    display: flex;
    justify-content: center;
    align-items: center;
}

.analog-clock{
    height: 500px;
    width: 500px;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    border-radius: 50%;
    border: 15px solid rgb(115, 7, 7);
    position: relative;
    z-index: 20px;
}

.analog-clock::after{
    content: '';
    height: 18px;
    width: 18px;
    background-color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;

}

.analog-clock::before{
    content: 'siva';
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    text-transform: uppercase;
    color:rgb(245, 8, 8) ;
    font-family:   "Satisfy", cursive;;
}

.number{
    --rotate:0;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 50px;
    font-weight: 700;
    border-radius: 20%;
    transform: rotate(var(--rotate));
}
.number-1{--rotate:30deg; }
.number-2{--rotate:60deg}
.number-3{--rotate:90deg}
.number-4{--rotate:120deg}
.number-5{--rotate:150deg}
.number-6{--rotate:180deg}
.number-7{--rotate:210deg}
.number-8{--rotate:240deg}
.number-9{--rotate:270deg}
.number-10{--rotate:300deg}
.number-11{--rotate:330deg}



.needle{
    --rotation:0;
    width: 6px;
    height: 36%;
    background-color: rgba(230, 17, 17);
    position: absolute;
    left: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    transform-origin: bottom;
    bottom: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
 

}
.hour{
    height: 30%;
    width: 15px;
    position: absolute;
 
}

.min{
    height: 37%;
    width: 10px;
    position: absolute;
}
.sec {
    height: 35%;
    width: 3px;
    position: absolute;
}



